@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Tag Selectors */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

li {
 list-style: none;
}
/* 
body{
   
} */

h1 {
    text-align: center;
    color: rgb(9, 104, 105);
}


/* Login Code Start */


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 45%;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* 
input{
    padding: 7px 20px;
    margin: 10px 0;
} */

label{
    font-size: 18px;
}
/* ID Selectors  Unique*/


#submit{
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: rgb(45, 105, 218);
    cursor: pointer;
}

/* class Selectors */
.form-input{
    padding: 7px 20px;
    margin: 10px 0;
   border-radius: 8px;
}


.form-container{
    background-color:white ;
    width: 0%;
}


/* Login Code End */


/* Navbar Code Start */

.navbar-container{
    background-color: rgb(236, 133, 48);
    padding: 20px 40px;

}

.navbar-main{
    display: flex;
   align-items: center;
    justify-content: space-between;
}

.navbar-main > div > ul{
    display: flex;
    gap: 20px;
    color: rgb(247, 247, 247);
}


/* Navbar Code End */